body {
	background: #dfdfdf url(images/typologo.png) no-repeat 20px 100px;
	font-family: Helvetica,Arial,sans-serif;
}

section {
	background: #fff;
	border-radius: 4px;
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 50%;
	box-shadow: 0 3px 6px rgba(0,0,0,.4),
				0 -1px 2px rgba(0,0,0,.2);
}

	section h1 {
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#3161A8), to(#214170));
		border-radius: 4px 4px 0 0;
		color: #FFF;
		margin: 0;
		padding: 10px;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
        text-align: center;
	}

#profile {
	margin-left: -250px;
	width: 500px;
}

#game {
	display: none;
	margin-left: -400px;
	width: 800px;
}
	#game input {
		position: absolute;
		width: 200px;
		left: 50%;
		margin-left: -100px;
		bottom: 20px;
		font-size: 20px;
		padding: 4px 8px;
		text-align: center;
	}
	#game canvas {
		border-bottom: 1px solid #ccc;
		width: 800px;
		height: 350px;
		z-index: 10;
		background: url(images/background.png);
	}

	#game #players {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100px;
	}
	#game .player {
		position: absolute;
		bottom: 0;
		display: -webkit-box;
		padding-bottom: 20px;
	}
		#game .player h2 {
			margin: 0;
			padding: 0 10px;
		}
		#game .player .score {
			color: #fff;
                background: #3161A8;
                padding: 2px 10px;
                -webkit-border-radius: 4px;
                border: 2px solid #12243F;
                background-image: -webkit-gradient(linear, 50% 0%, 50% 100%,
                                       color-stop(0%, #618ED1),
                                       color-stop(1%, #3161A8),
                                       color-stop(100%, #214170));
		}
	#player1 {
		left: 20px;
	}
	#player2 {
		right: 20px;
	}

#profileinput{
margin: 5px 0 0 10px;
}
#startbtn{
margin:10px 0 0 150px;
width:50px;
}
.avatarselected{
	border: 2px solid black;
}

.hidden{
	display:none;
}

/*#game canvas {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -512px;
}*/
